<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/317c9773-01cd-4df5-bd34-5411f466e1de/resourcegroups/ChallengeSubmission20220823102117ResourceGroup/providers/Microsoft.Web/sites/ChallengeSubmission20220823102117</ResourceId>
    <ResourceGroup>ChallengeSubmission20220823102117ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://challengesubmission20220823102117.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4c36198d-e4a7-4245-8387-e5f87fd7bf54</ProjectGuid>
    <PublishUrl>https://challengesubmission20220823102117.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ChallengeSubmission20220823102117</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>