
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<address>
    310 SW 4th Ave Suite 200 <br />
    Portland, OR 97204 <br />
    United States<br />
    <abbr title="Phone">P:</abbr>
    503.206.6915
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a>
</address>
<small>
    Contact Information last updated: @DateTime.Now
</small>

